.card{
    display: flex;
    flex-direction: column;
    width: 20%;
    min-width: 250px;
    min-height: 220px;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding:40px 20px 20px 20px;
    gap:10px;
    border-radius: 20px;
    background-color: white;
}

@media (max-width: 800px) {

    .card{
        width: 100% !important;
        min-width: 100% !important;
        min-height: 280px !important;
        padding: 50px 30px 30px 30px !important;
        gap: 20px !important;
        max-width: 95%;
        margin: 0 auto;
    }
    
}
