

.container{
    background-color: var(--color-dark-accent);
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:50px 200px;
}

@media (max-width: 800px) {

    .container{
       flex-direction: column !important;
       padding:40px !important;
    }
    .title{
        font-size: 25px !important;
        width: 100% !important;

    }
    
}

@media (min-width: 800px) and (max-width: 1350px) {
    .container{
        padding: 0px 100px !important;
    }
}


.containerCards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:50px;
}

.title{
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    width: 90%;
    text-shadow: 3px 8px 10px rgba(0, 0, 0, 0.10);
    color:white;
    margin-bottom:50px
}