.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px;
    background-color: var(--color-primary);
}

@media (max-width: 800px) {
    .title{
        font-size: 25px !important;
    }
    
}

.title{
    color: white;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    width: 90%;
    text-shadow: 3px 8px 10px rgba(0, 0, 0, 0.10);
}