.image{
    width: 100%;
    height: 100%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    padding: 0px 200px;
    gap:100px;
    margin: 0;
    background-image: 
    url('./../../../public/assets/fondo7.png'); 
background-size: 
    100% 30%;
background-position: 
    bottom -10px right 0px;
background-repeat: 
    no-repeat; 
}

@media (min-width: 800px) and (max-width: 1350px) {
    .container{
        padding: 0px 100px !important;
    }
}


@media (max-width: 800px) {

    .container{
       flex-direction: column !important;
       padding: 40px 40px;
       gap:0px;
       min-height: 500px;
    }

    .title{
        text-align: center;
        font-size: 25px !important;
        font-style: normal;
        font-weight: 700;
        line-height: 40px !important;
        width: 100% !important;
        text-shadow: 3px 8px 10px rgba(0, 0, 0, 0.10);
    }

    .subtitle{
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 30px !important;
        width: 100% !important;
       
    }

    .containerImage{
        width: 100% !important;
    }
    
    .containerTitle{
        width: 100% !important;
        margin-bottom:150px !important
    }
    
}


.containerImage{
    width: 90%;
}

.containerTitle{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

.title{
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    text-shadow: 3px 8px 10px rgba(0, 0, 0, 0.10);
}

.subtitle{
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    width: 90%;
}

.spam{
    color:var(--color-primary);
    font-weight: 500;
}