.container {
  background-color: #fb6304;
  padding: 1rem 100px 2rem 100px;
  margin-top: 2rem;
}

.containerInner {
  display: flex;
  justify-content: space-between;
}

.fila1 {
  width: 20%;
}

.contacto {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  justify-content: flex-start;
  align-items: flex-start;
}
.rrss {
  align-items: center;
  display: flex;
  gap: 20px;
  color: white;
}

.icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.icon:hover {
  color: var(--color-dark);
}

.datos {
  display: flex;
  align-items: center;
  gap: 10px;
}

.datos:has(> a) {
  cursor: pointer;
}

.a {
  color: white;
}

a.a:hover {
  color: var(--color-dark);
}

.hr {
  height: 1px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  opacity: 0.2;
  margin: 20px 0px;
}

.copy {
  display: flex;
  margin:  0px 0px 0px;
  color: white;
  align-items: center;
  justify-content: center;
}

.contenido {
  font-size: 15px;
  width: 90%;
  color: white;
  font-weight: 300;
}

.titleSecciones {
  font-weight: 700;
}

.hr2 {
  height: 1px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  opacity: 0.2;
}


@media (max-width: 800px) {
  .container {
    padding: 40px !important;

  }

  .containerInner {
  flex-direction: column;
  }

  .contacto{
    margin:35px 0px
  }

  .fila1{
    width: 100% !important;
  }
  
}