.container{
    display: flex;
    border-bottom: 1px solid rgba(128, 128, 128, 0.239);
    padding:5px 60px 5px 60px;
    align-items: center;
}

@media (max-width: 800px) {
    .container{
            justify-content: center;
    }
    .items{
        display: none !important
    }

    .button{
        display: none !important;
    }
    
}

.items{
    display: flex;
    align-items: center;
    gap:50px;
    width: 100%;
    justify-content: center;
    cursor: pointer;
}

.item{
    font-weight: 600;
    opacity: 0.5;
}

.item:hover{
    opacity: 1;
    font-weight: 600;
    color:var(--color-primary) 
}

.a{
    color:black
}


